{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<h1 class="text-center">The Only Place to Look At Real Bikes !!!</h1>

<!-- Add your page-specific content here -->
<div class="row">
  {% for bike in bikes %}
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{bike.brand}} {{bike.model}}</h5>
        <p class="card-text">
          <strong>Engine Capacity:</strong> {{bike.cc}} (cm3) <br />
          <strong>Fuel Capacity:</strong> {{bike.fuel_capacity}} (L) <br />
          <strong>Engine Type:</strong> {{bike.engine_type}} <br />
          <strong>Seat Height:</strong> {{bike.seat_height}} (cm) <br />
        </p>
        <a href="{{ url_for('edit',id = bike.id)}}" class="btn btn-info"
          >Edit</a
        >
        <a
          href="{{ url_for('delete_item',id = bike.id)}}"
          class="btn btn-outline-danger"
          >Deleat</a
        >
      </div>
    </div>
  </div>

  {% endfor %}
</div>

{% endblock %}
